.cartHeader {
    display: flex;
    justify-content: space-between;
}

.shoppingCartContainer {
}

.buttonBar {
    display: flex;
}

.cartGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.cartTableHeader {
    // display: flex; //change to grid later
    // * {
    //     margin: 8px;
    // }
}

.cartItem {
    // display: flex;
}

.checkbox {
    justify-self: left;
}

.select {
    height: 30px;
}