.cartHeader {
    display: flex;
    justify-content: space-between;
}

.shoppingCartContainer {
    margin-bottom: 50px;
}

.buttonBar {
    display: flex;
}

.cartGrid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
}

.cartTableHeader {
    // display: flex; //change to grid later
    // * {
    //     margin: 8px;
    // }
}

.cartItem {
    // display: flex;
}

.checkbox {
    justify-self: left;
}

.select {
    height: 30px;
}

.remove {
    margin-left: 8px;
    cursor: pointer;
}