.header {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-bottom: 50px;
}

.buttonBar {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
}

.checkbox {
    justify-self: left;
}

.select {
    height: 30px;
}

.remove {
    margin-left: 8px;
    cursor: pointer;
}